

.overlay {

  border-style: solid;
  border-width: thin;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 33px;
  background-color: rgba(94, 094, 94, 0.7);
  width: 99.7%;
}

.life-total {
  color: green;
}

.life-total.warning {
  color: yellow;
}

.life-total.critical {
  color: red;
}

.life-total-input {
  width: 75px;
}

.player-options {
  background-color: rgba(0, 0, 0, 0.6);
}

.increase-life-button {
  margin-left: 5px
}

.damage-source-toggle-button {
  border-right: 1px solid lightgray;
  padding-right: 2px;
}

.dropdown-area {
  background-color: rgb(220 220 220 / 70%);
}